body {
  background-color: #DDDDDD;
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}
.tagline {
  text-align: center;
  color: blue;
}
table {
  border-collapse: collapse;
  color: rgb(255,0,0);
}
table, th, td {
  border: 1px solid black;
}
th {
  background-color: #F8FF75;
  font-size: 30px;
}
tr:first-child {
    text-align: left;
}
tr:hover{
	color:rgb(0,0,255);
	background-color: rgb(0,0,0);
	opacity: 0.7;
}
li a {
  color: blue;
}
/*h1
{
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
  text-transform:uppercase;
  font-style: bold;
}
h2
{
  font-size: 30px;
  color:#000000;
  text-transform: uppercase;
}
body{
  padding: 10px;
  margin:20px;
}
nav
{
  font-size: 20px;
  color:  #000000;
  display: inline-block;
}
nav a
{
    display:block;
    margin: 0 auto;
    float: left;
    height: 35px;
    width:130px;
    margin: 0 70px;
    background-color:rgb(255,255,255,0.35);
    padding:15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color:black;
}
nav a:active
{
  background-color: rgb(255,255,255,1);
}
.active
{
  background-color: rgb(255,255,255,1);
}

header
{
  background-color: #BDBDBD;
    text-transform:capitalize;
    padding: 10px 10px;
    background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg"); 
}
section
{
  font-size: 18px;
  background-color: #FFFFFF;
  height: 320px;
  text-align: justify;
  font-size: 22px;
  padding-right:10px;
  padding-left: 10px;
}
main img
{
  width: 87%;
  height:11%;
  
  border-radius: 2px;
  border-color: #000000;
  border-style: solid;
  clear: both;

}
.left
{
  background-color: #777613;
  height:auto;
  width:20%;
  padding:1.5%;
  float:left;
}

.right
{
  float:left;
  width:75%;
  height: auto;

}
th
{
  background-image:linear-gradient(blue, green);
  color:#FFFFFF;
  line-height: 50px;
}
td
{
  background-color: #E4F5D4;
}

tr
{
  text-align: center;
  line-height: 35px;
}

td:first-child
{
  text-align: left;
}
th:first-child
{
  text-align: left;
}  
td
{
  color:rgba(0,0,0,0.65);
  
}
th , td
{
  border-right: 3px solid #FFFFFF;
  border-left-width: 3px solid #FFFFFF;
}
td:hover
{
  color:rgba(0,0,0,1);
}
th
{
  border-bottom: 4px solid #B1E053;
  border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}